@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;

    color: white;
    background-color: black;

    width: 100%;
    height: fit-content;
    min-height: 100vh;

    overflow-x: hidden;
  }

body {
    background-image: url("background.jpg");
    background-size: stretch;
    background-position: center;
    background-attachment: fixed;
}

html {
    background-image: url("background.jpg");
    background-size: stretch;
    background-position: center;
    background-attachment: fixed;
}
  
.center-div {
  width: fit-content;
  height: fit-content;
  text-align: left;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.201);
    margin: 5px;
    width: 100%;
    flex-wrap: wrap;
}

.gallery p {
    margin-left: 8px;
}

.gallery-item {
    width: 340px;
    height: fit-content;
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery-img {
    width: 340px;
    height: auto;
}

.gallery-item-title {
    width: 100%;
    text-align: center;
}

.window {
    width: 740px;
    padding: 20px;
    padding-top: 5px;
    border: 1px solid white;

    background: rgba(0, 0, 0, 0.5);
}

.window p {
    margin: 2px;
}

.windowHeader {
    margin-top: 15px;
    padding-left: 5px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;

    background: rgba(0, 0, 0, 0.5);
}

.noMargin {
    margin: 0;
}

.windowHeader p {
    margin: 6px;
}

a {
    color: rgb(110, 110, 255); /* Default link color */
    text-decoration: none; /* Removes underline */
  }
